.loading {
  position: absolute;
  top: 40%;
  left: 25%;
  color: white;
  width: 50%;
  height: 50%;
  text-align: center;
}

.logo {
  width: 50%;
  margin: auto;
}

@keyframes text-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.text {
  animation: text-animation 1s infinite;
  font-size: 150%;
  color: rgb(88, 88, 88);
}