.button, .logout {
  all: unset;
  height: 70px;
  text-wrap: nowrap;
  width: 208px;
  text-align: center;
  font-size: larger;
  font-weight: 600;
  background-color: var(--primary-color);
  color: black;
  transition: background-color 400ms ease, color 200ms ease;
}

.button:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.active {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.logout:hover {
  cursor: pointer;
  background-color: #dc3545;
  color: var(--primary-color);
}
