.wrapper {
  padding-top: 50px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.card {
  all: unset;
  width: 45%;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 400ms ease;
}

.card:hover {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.title {
  font-size: x-large;
  padding-left: 2rem;
}

.description {
  height: calc(100% - 5px);
  width: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 11;
  display: -webkit-box;
}

.content {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.image {
  width: 270px;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  object-fit: cover;
}

@media (max-width: 992px) {
  .wrapper {
    padding-top: 120px;
    flex-direction: column;
  }

  .card {
    width: calc(100% - 20px);
    margin-bottom: 30px;
  }

  .image {
    width: 200px;
  }
}

@media (max-width: 430px) {
  .content {
    flex-direction: column;
  }
}
