.form {
  background-color: var(--secondary-color);
  text-align: left;
  max-width: 800px;
  margin: auto;
  padding: 40px 40px;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .form {
    padding: 40px 10px;
  }
}

.label {
  background-color: var(--primary-color);
  padding: 10px 40px;
  border-radius: 20px;
}

.label:hover {
  cursor: pointer;
}

.button {
  all: unset;
  background-color: var(--accent-color);
  padding: 10px 80px;
  border-radius: 20px;
  color: var(--primary-color);
  margin-top: 40px;
  transition: scale 400ms ease;
}

.button:hover {
  scale: 1.03;
  cursor: pointer;
}
