.wrapper {
  width: 100%;
  background-color: var(--primary-color);
  padding: 5px 20px;
  border-radius: 10px;
  margin-bottom: 5px;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: larger;
}

.open {
  all: unset;
  height: 30px;
}

.open:hover {
  cursor: pointer;
}

.open img {
  height: 100%;
}

.controls {
  display: flex;
  gap: 20px;
  align-items: center;
}
