.wrapper {
  width: calc(100% - 40px);
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: larger;
}
