.wrapper {
  width: calc(100% - 40px);
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow-x: hidden;
}

.text {
  font-size: larger;
}

.file {
  width: 20%;
  min-width: 100px;
}