.form {
  max-width: 1000px;
  margin: auto;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.h2 {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-weight: 700;
}

.obligatory {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-weight: 700;
}

.submit {
  all: unset;
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 10px 80px;
  border-radius: 20px;
  margin-top: 50px;
}

.submit:hover {
  cursor: pointer;
}
