.li {
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li:hover {
  background-color: var(--primary-color);
}

.file-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: large;
  font-weight: 600;
}

.file {
  height: 100px;
}

.remove {
  all: unset;
  background-color: #dc3545;
  padding: 10px 50px;
  border-radius: 10px;
  color: var(--primary-color);
  opacity: 0;
}

.remove:hover {
  cursor: pointer;
}

.li:hover .remove {
  opacity: 1;
}

.files {
  border-radius: 20px;
  background-color: var(--primary-color);
  padding: 10px 20px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}

.files:hover {
  cursor: pointer;
}

.files img {
  height: 20px;
}

.files span {
  margin-top: -2px;
}

