.entry {
  margin: 25px 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.entry label {
  font-size: larger;
}

.entry input {
  width: 70%;
  float: right;
  margin-left: auto;
  font-size: larger;
  border: none;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 10px 10px;
}
