.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  text-align: center;
}

.image {
  width: 400px;
  border-radius: 20px;
  height: 250px;
  object-fit: cover;
}

.success {
  color: var(--accent-color);
  font-weight: 500;
  margin: 40px;
  font-size: xx-large;
}
