.wrapper {
  width: 50%;
  margin: auto;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.publish, .delete {
  all: unset;
  width: 30%;
  height: 50px;
  text-align: center;
  border-radius: 20px;
  color: var(--primary-color);
  transition: scale 400ms ease;
}

.publish {
  background-color: var(--accent-color);
}

.delete {
  background-color: #dc3545;
}

.publish:hover, .delete:hover {
  cursor: pointer;
  scale: 1.03;
}

.info {
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 20px 40px;
  margin-bottom: 20px;
  text-align: left;
}

.entry {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 20px;
  width: calc(100% - 20px);
  white-space: pre-wrap;
}
